<div th:replace="shared/up"></div>
<div th:replace="shared/header"></div>

<section>
	<div class="mainwrapper">
		<div th:replace="shared/leftpanel"></div>

		<div class="mainpanel">

			<div th:replace="shared/pageheader"></div>

			<div class="contentpanel">


				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">Lista de Bancos</h4>
							<p>Tela para listagem dos bancos cadastradas no sistema.</p>
						</div><!-- panel-heading -->

						<div class="panel-body nopadding">
							<a href="/account/new" class="btn btn-primary" style="margin: 10px;">Novo</a>
							<div class="table-responsive">
								<table class="table table-hidaction table-hover mb30">
									<thead>
										<tr>
											<th>#</th>
											<th>Pessoa</th>
											<th>Nome Conta</th>
											<th>Banco</th>
											<th align="center">Tipo</th>
											<th align="center">Numero</th>
											<th align="center">Saldo</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="account : ${accounts}">
											<td th:text="${account.id}"></td>
											<td th:text="${account.pessoa.nome}"></td>
											<td th:text="${account.nome}"></td>
											<td th:text="${account.bank.nome}"></td>
											<td th:text="${account.tipo}"></td>
											<!-- <td th:text="${account.numero}"></td> -->
											<td align="center" th:text="${account.numeroDigito}"></td>
											<td align="right" th:text="${account.saldoFormatado}"></td>
											<td align="center">
												<a th:href="@{/account/view/{id}(id=${account.id})}"   class="btn btn-info"><i class="fa fa-eye white"></i></a>
												<a th:href="@{/account/alter/{id}(id=${account.id})}"  class="btn btn-success"><i class="fa fa-pencil white"></i></a>
												<a th:href="@{/account/delete/{id}(id=${account.id})}" class="btn btn-danger"><i class="fa fa-trash-o white"></i></a>
											</td>
										</tr>
									</tbody>

								</table>
							</div><!-- table-responsive -->

						</div><!-- panel-body -->

						<div class="panel-footer">
							<a href="/home" class="btn btn-success" >Voltar</a>
						</div><!-- panel-footer -->
					</div><!-- panel -->

				</div>

			</div><!-- contentpanel -->

		</div><!-- mainpanel -->

	</div><!-- mainwrapper -->
</section>

<div th:replace="shared/down"></div>